{% extends 'base/base.html' %}

{% block title %}  Home |{% endblock %}
{% load static %}
{% block content %}


<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        {% for article in articles %} 
            <div class="single-products-catagory clearfix">
                <a href="{% url 'shop'%}?category={{article.categorieArticle.nom}}"> 
                    <img src="{{article.image_principal.url}}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>$ {{article.prix}}</p>
                        <h4>{{article.categorie.nom}}</h4>
                    </div>
                </a>
            </div>
        {% endfor%}
    </div>
</div>


{% endblock content %}
{% block scripts %}
 
{% endblock %}

